

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box
  }

.main-login {
    display: flex;
    justify-content: center;  
    align-items: center;
    background: #E5E5E5;
    width: 100%;
    padding-bottom: 91px;
}

.form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#iniciar-sessao {
    font-family: 'Raleway-bold';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    padding-bottom: 25px;
    color: #464646;

}

#email, #senha {
   margin-bottom: 25px;
    background: #FFFFFF;
    height: 63.13px;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #C8C8C8;
    border-width: 1px;

}

input::placeholder {

    font-family: 'Raleway-Light';
    font-weight: 200;
    font-size: 14px;
    line-height: 16px;
    color: #A2A2A2;;
   }

#Entrar {
    background: #2A7AE4;
    color: #FFFFFF;    
    width: 423px;
    height: 62px;
    border: none;
    font-family: 'Raleway-Light';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
}

@media (max-width: 480px) {
    .main-login {
        padding-top: 97px;
        padding-right: 40px;
        padding-left: 45px;
        padding-bottom: 76px;
        margin: 0;
    }

    .form-login {
        width: 100%;
    }

    #iniciar-sessao {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        margin-top: 0;
        padding-bottom: 16px;
    }

    #email, #senha {
        height: 41px;
        margin-bottom: 16px;
    }

    input::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }

    #Entrar {
        width: 109px;
        height: 40px;
        font-size: 14px;
        line-height: 16.44px;
    }
}