

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box
  }

header {
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: 7.188rem;
    justify-content: space-between;
}

#caixa-esquerda {
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 9.5rem;
    margin-right: 2rem;
    width: 11rem;
    height: 3.125rem;
}

.search-container{
    width: auto;
    height: 2.5rem;
    display: block;
    margin: 0 auto;
  }
  
  #txtBusca{
    float:left;
    color:transparent; 
    padding-left:0.313rem;

    border:none;
    height:auto;
    width:auto;
  }
  
  input#search-bar{
    margin: 0 auto;
    width: 100%;
    height: 2.5rem;
    padding: 0 1.25rem;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 1.25rem;
    background: #F5F5F5;
   }

   @font-face {
    font-family: 'Raleway-Light';
    src: url('font/Raleway-Light.ttf') format('truetype');
  }
  

   input::placeholder {
    padding-top: 1.156rem;
    padding-left: 0.75rem;
    font-family: 'Raleway-Light';
    font-weight: 200;
    font-size: 0.875rem;
    line-height: 1rem;
    color: #A2A2A2;;
   }
  
  .search-icon{
    position: relative;
    float: right;
    width: auto;
    height: auto;
    top: -1.813rem;
    right: -1.813rem;
  }
  
.botao-login{
    margin-right: 9.5rem;
    box-sizing: border-box;
    padding: 1rem;
    width: 11.375rem;
    height: 3.188rem;
    /* Azul/100% */
    border: 1px solid #2A7AE4;
    color:#2A7AE4;
    background: #FFFFFF;
    font-family: 'Raleway-Light';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.188rem;
}

.banner {
    background: url("img/banner-image.png");
    height: 22rem;
    display: flex;

    flex-direction: column;
    align-items:flex-start;
    justify-content: end;
    padding-left: 9.5rem;
    padding-right: 9.5rem;
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('font/Raleway-Bold.ttf') format('truetype');
  }

#banner-titulo{
   margin-bottom: 1rem; 
   font-family: 'Raleway-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 3.25rem;
    line-height: 3.813rem;
   color: #FFFFFF;
}

#banner-subtitulo{
    font-family: 'Raleway-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 1.375rem;
    line-height: 1.625rem;
    color: #FFFFFF;
    margin-bottom: 1rem ;
}

#banner-botao {
    width: 8.125rem;
    height: 3.188rem;
    background: #2A7AE4;
    border: none;
    color: #FFFFFF;
    font-family: 'Raleway-Light';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.188rem;
    margin-bottom: 2rem;
}

main {
    padding-top: 4rem;
    padding-right: 9.5rem;
    padding-left: 9.5rem;
    height: auto;
    width: auto;
    background: #E5E5E5;
}

.caixa-cabecario-produtos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3 {
    bottom: 1rem;
    font-family: 'Raleway-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.375rem;
    color: #464646;
}

.caixa-ver-tudo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa-seta {

    width: 1rem;
    height: 1rem;
    background: url("img/seta-direita.png");;
    align-items: center;
    text-align: center;
    margin-left: 0.75rem;
}

.ver-tudo {
    border: none;
    font-family: 'Raleway-Medium';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.188rem;
    color: #2A7AE4;
    background: #E5E5E5
}

.seta {
    width: 1rem;
    height: 1rem;
    color: #2A7AE4;
    background: black;
    padding-left: 0.75rem;
}

.caixa-produtos-stars-wars-margem {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 4rem;
    flex-wrap: wrap;
}

img {
    width: 11rem;
    height: 10.875rem;
    margin-bottom: 0.5rem;
}

p1 {
    display: block;
    margin-bottom: 0.5rem;
    font-family: 'Raleway-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 0.5rem;
    width: auto;
    height: auto;
    color: #464646;
}

p2 {
    width: auto;
    height: auto;
    display: block;
    margin-bottom: 0.313rem;
    font-family: 'Raleway-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.188rem;
    color: #464646;
}

.ver-produtos {
    width: auto;
    height: auto;
    text-align: left;
    font-family: 'Raleway-Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.188rem;
    color: #2A7AE4;
    border: none;
    padding: 0;
    background: #E5E5E5;
}

.caixa-contato{
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
    padding-bottom: 4.375rem;
    background: #EAF2FD;
}

.saiba-mais {
    border: none;
    margin-bottom: 1.5rem;
    display: block;
    font-family: 'Raleway-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.188;
    color: #464646;
    background: #EAF2FD;
}

.caixa-formulario {
    display: flex;
    flex-direction: column;
    margin-right: 9.5rem;

}

.fale-conosco {
    font-family: 'Raleway-Medium';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.188rem;
    color: #464646;
 
}

.caixa-nome{
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    height: 3.438rem;
    width: 100% auto;
    margin-right: 0;
    padding-right: 0;

}

.nome {
    padding-top: 0.5rem;
    padding-bottom: 0.438rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    width: 100%;
    font-family: 'Raleway-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1rem;
    color: #A2A2A2;
    background: #FFFFFF;
    
}

.insira-nome {
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #C8C8C8;
    border-width: 0.063;
    padding-top: 0.5rem;
    padding-bottom: 0.438rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    height: 1.25rem;
    width: 100%;
    border: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    background: #FFFFFF;
    color: #464646;
}

.mensagem {
    margin-top: 1.5rem;
    height: 5.125rem;
    width: 100%;
    border: none;
    background: #FFFFFF;
    border-color: #C8C8C8;
    border-width: 0.063;
}

textarea::placeholder {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-family: 'Raleway-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;  
    color: #A2A2A2;

}

.enviar-mensagem {
    margin-top: 0.5rem;
    width: 10.313rem;
    height: 3.188rem;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 0.625;
    font-family: 'Raleway-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.188rem;
    background: #2A7AE4;
    color: #FFFFFF;
    border: none;
}

.desenvolvedor {
    display: flex;
    flex-direction: column;
    height: 6.375rem;
    background: #FFFFFF;  
    justify-content: center;
    align-items: center;
}

h6{
    font-family: 'Raleway-Medium';
    font-style: normal;
    font-size: 1rem;
    line-height: 1.188rem;
    color: #464646;
}

@font-face {
    font-family: 'Raleway-Medium';
    src: url('font/Raleway-Medium.ttf') format('truetype');
}

h7{
    font-family: 'Raleway-Medium';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.188rem;
    color: #464646;
}

@media (max-width: 480px) {
    header {
        background: #FFFFFF;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        margin: 0;
        padding-left: 1.177rem; 
        width: auto;
        height: 4.5rem;
        justify-content: space-between;
    }
    .search-container{
        height: 0;
        width: 0;
    }

    .banner {
        background: url("img/img-mobile/banner-image.png");
        background-position: center;
        background-size: cover;
        height: 12rem;
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content: end;
        padding: 1rem;
    }
    
    @font-face {
        font-family: 'Raleway-Bold';
        src: url('font/Raleway-Bold.ttf') format('truetype');
    }
    
    #banner-titulo{
       margin-bottom: 0.5rem; 

        font-style: normal;
        font-weight: 700;
        font-size: 1.375rem;
        line-height: 1.625rem;
       color: #FFFFFF;
    }
    
    #banner-subtitulo{

        font-style: normal;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 1rem;
        color: #FFFFFF;
        margin-bottom: 0.5rem ;
    }
    
    #banner-botao {
        height: 2.5rem;
        width: 7.438rem;
        background: #2A7AE4;
        border: none;
        color: #FFFFFF;
        font-style: normal;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 1rem;
        margin-bottom: 0;
    }

    main {
        padding-top: 1rem;
        padding-right: 1rem;
        padding-left: 1rem;
        background: #E5E5E5;
    }

    .caixa-cabecario-produtos {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    h3 {
        font-family: 'Raleway-Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 1.375rem;
        line-height: 1.625rem;
        color: #464646;
    }
    
    .caixa-ver-tudo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .caixa-seta {
        width: 0.667rem;
        height: 0.667rem;
        margin-left: 0.417rem;
        background: url("img/seta-direita.png");
        background-position: center;
        background-size: cover;
        justify-content: center;
        align-items: center;
        text-align: center;
    
    }
    
    .ver-tudo {
        border: none;
        font-family: 'Raleway-Medium';
        font-style: normal;
        font-weight: 700;
        font-size: 0.875rem;
        line-height: 1rem;
        color: #2A7AE4;
        background: #E5E5E5
    }

    .caixa-produtos-stars-wars-margem {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 0;
        padding-bottom: 1rem;
    }

    img {
        width: 9.5rem;
        height: 10.875rem;
        margin-bottom: 0.5rem;
    }
    
    p1 {
        display: block;
        margin-bottom: 0.5rem;
        font-family: 'Raleway-Medium';
        font-style: normal;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1rem;
        width: auto;
        height: auto;
        color: #464646;
    }
    
    p2 {
        width: auto;
        height: auto;
        display: block;
        margin-bottom: 5px;
        font-family: 'Raleway-Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.188rem;
        color: #464646;
    }
    
    .ver-produtos {
        width: auto;
        height: auto;
        text-align: left;
        font-family: 'Raleway-Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.188rem;
        color: #2A7AE4;
        border: none;
        padding-bottom: 1rem;
        background: #E5E5E5;
    }
    
    .caixa-contato{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 1.625rem ;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background: #EAF2FD;
    }

    .caixa-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    
    }

    .logo {
        margin-left: 0;
        margin-right: 0;
        width: 10rem;
        height: 3rem;
        margin-bottom: 1rem;
    }
    
    .saiba-mais {
        text-align: center;
        width: 100%;
        border: none;
        margin-bottom: 1rem;
        padding-right: 1rem;
        display: block;
        font-family: 'Raleway-Medium';
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.188rem;
        color: #464646;
    }
    
    .caixa-formulario {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        width: 100%;
    }

    .nome{
        width: 100%;

    }
    
    .insira-nome{
        width: 100%;
    }

    .mensagem {
        margin-top: 1rem;
        width: 100%;
    }
  
    .enviar-mensagem {
        width: 9.438rem;
        height: 2.5rem;
        padding: 0.75rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: 600;
        font-size: 0.875rem;
        line-height: 1rem;
        background: #2A7AE4;
        color: #FFFFFF;
        border: none;
    }
}
